html {
	box-sizing: border-box;
	font-size: 62.5%;
	color: $text-color;
	@include respond(big-desktop) {
		font-size: 87.5%;
	}
	@include respond(tab-land) {
		font-size: 62.5%;
	}
	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(phone) {
		font-size: 50%;
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background-color: $light-grey;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	/* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
	cursor: pointer;
}

input {
	outline: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none;
	color: $text-color;
	outline: none;
}
