.product-container {
  margin-bottom: 3.2rem;
  padding: 3.2rem;
  background-color: #fff;
  &__purchase {
    .img-gallery {
      height: auto;
      max-width: 68rem;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .detail-container {
      .condition {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
      }
      .title {
        font-size: 2.4rem;
      }
      .price-container {
        @include price-container(2.4);
        padding: 3.2rem 0;
      }
      .btn-purchase {
        display: block;
        width: 100%;
        padding: 1.6rem;
        font-size: 1.8rem;
        background-color: $primary-blue;
      }
    }
  }

  &__description {
    .title {
      padding-bottom: 3.2rem;
      font-size: 2.8rem;
    }
    .body {
      font-size: 1.6rem;
      white-space: pre-line;
    }
  }

  @include respond(tab-land) {
    &__purchase {
      .img-gallery {
        margin-bottom: 3.2rem;
      }
    }
  }

  @include respond(phone) {
    &__purchase {
      .img-gallery {
        width: auto;
      }
    }
  }
}

.product-layout {
  display: flex;
  margin-bottom: 3.2rem;
  .col-left {
    width: 65%;
  }
  .col-right {
    width: 35%;
  }

  @include respond(tab-port) {
    flex-wrap: wrap;
    .col-left {
      width: 100%;
    }
    .col-right {
      width: 100%;
    }
  }
}
